*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.sun-design9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 44, 44);
    & > img {
        height: 10rem;
        margin-top: -3rem;
        &:hover {
            transition: all 1s;
            transform: rotateY(360deg);
        }
    }
    & > nav.button-classes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        & > a {
            border: 1px solid black;
            border-radius: 30px;
            padding: 0.5vw 1vw;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            color: black;
            &:active {
                box-shadow: #422800 2px 2px 0 0;
                transform: translate(2px, 2px);
            }
        }
    }
}
section.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: rgb(231, 44, 44);
}
section.firstfeature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    background: url(../img/71d547552d045c758ce44b3c25da8301.jpg);
    background-size: cover;
    background-position: center;
    & h1{
        color: white;
        font-size: 6rem;
        text-shadow: 2px 2px 4px black;
    }
    & a{
        border: 1px solid white;
        border-radius: 30px;
        padding: 0.5vw 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        user-select: none;
        color: white;
        &:active {
            box-shadow: #422800 2px 2px 0 0;
            transform: translate(2px, 2px);
        }
    }
}
section.secondfeature{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    height: 100dvh;
    background: url(../img/4k-Heartsteel-Aphelios-Skin-League-of-Legends-4K-Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    & h1{
        color: white;
        margin-top: 2rem;
        font-size: 6rem;
        margin-left: 1rem;
        text-shadow: 2px 2px 4px black;
    }
    & a{
        border: 1px solid white;
        border-radius: 30px;
        padding: 0.5vw 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        user-select: none;
        margin-left: 1rem;
        color: white;
    }
}
section.thirdfeature{
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: end;
    height: 100dvh;
    background: url(../img/dev-teamfight-tactics-remix-rumble-learnings-league-of-v0-alf2BvJNpnRXX91hG67d25b6QgPLHgvdxd-iHADX0z0.webp);
    background-size: cover;
    background-position: center;
    & h1{
        color: white;
        margin-right: 1rem;
        font-size: 6rem;
        margin-top: 2rem;
        text-shadow: 2px 2px 4px black;
    }
    & a{
        border: 1px solid white;
        border-radius: 30px;
        margin-right: 1rem;
        padding: 0.5vw 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        user-select: none;
        color: white;
        &:active {
            box-shadow: #422800 2px 2px 0 0;
            transform: translate(2px, 2px);
        }
    }
}